/*
h1{
    color: red;

}

h2{
    color: rgb(239, 26, 62);

}

p a,
figure figcaption p{
    color: blueviolet;

}  
*/
html{
    margin: 8px;
    font-size: 62.5%;
}
body{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;

}
.citazione{
    max-width: 75ch;

}
.immagine{
    box-sizing: border-box;
    background-color: white;
    border: 3px black solid;
    padding: 5px;

}

h1{
    color: red;

}
h2{
    color: orange;

}
.titolo-articolo{
    color: rgb(255, 0, 43);

}
#titolo-pagina{
    font-style: italic;

}
.citazione_blocco p{
    color: brown;

}
h1#titolo-pagina.titolo-articoloh1{
    font-size: italic;

}

.introduzione{
    height: 100;

    
}
.colori{
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: antiquewhite;*/
    /*background-color: rgb(156, 165, 211);*/
    /*background-color: hsl(0, 34%, 68%);*/
    background-color: rgba(50, 60, 121, .3);

}

.colori h1{
    text-align: center;
}

